<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>003-条件渲染v-if.html</title>
</head>

<body>
    <div id="app">
        <input type="number" v-model="score">
        <p>你的成绩是:{{score}}</p>
        <!-- v-if 判断是否符合条件,如符合条件,就显示dom,不符合就删除dom 在结构中不显示 -->
        <P v-if="score >= 90">优秀</P>
        <P v-if="score < 60">不及格</P>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            score: 0,
        }
    })
</script>

</html>